## Rabbits and Recurrence Relations
Any given month - rabbits that were alive previous month and the new born ones  
Number of offspring and given month is equal to the number of rabbits that were alive 2 months prior  
## Given:
n = months  
k = produced litter of rabbit pairs  
## Return:
total number of rabit pairs after n month

In [19]:
n = 31
k = 5
m = n-2

In [20]:
F1 = 1
F2 = 1

In [21]:
for i in range(m):
    total = F1 * k + F2
    F1 = F2
    F2 = total
print(total)

14415648500221